{{#each this }}
<ul class="country__item">
    <h2>{{Country}}</h2>
    <p class="country__capital">Capital:
      {{Capital}}
    </p>
    <img src="{{flag}}" class="country__flag" />
    <p class="country__population">Population:
      {{Population}}
    </p>
    <ul class="country__language">Languages:
      <li class="country__languages">{{Languages.name}}</li>
    </ul>
{{/each}}
